.display-none {
  display: none; }

.mb {
  margin-bottom: 1rem; }

.mb-2 {
  margin-bottom: 2rem; }

.mb-3 {
  margin-bottom: 3rem; }

.mb-4 {
  margin-bottom: 4rem; }

.mb-5 {
  margin-bottom: 5rem; }

.mb-6 {
  margin-bottom: 6rem; }

.mb-7 {
  margin-bottom: 7rem; }

.mb-8 {
  margin-bottom: 8rem; }

.mb-9 {
  margin-bottom: 9rem; }

.mb-10 {
  margin-bottom: 10rem; }

.mt {
  margin-top: 1rem; }

.mt-2 {
  margin-top: 2rem; }

.mt-3 {
  margin-top: 3rem; }

.mt-4 {
  margin-top: 4rem; }

.mt-5 {
  margin-top: 5rem; }

.mt-6 {
  margin-top: 6rem; }

.mt-7 {
  margin-top: 7rem; }

.mt-8 {
  margin-top: 8rem; }

.mt-9 {
  margin-top: 9rem; }

.mt-10 {
  margin-top: 10rem; }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  -webkit-tap-highlight-color: red;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased; }

*::-webkit-scrollbar {
  width: .8em;
  background-color: #fde4cf; }

*::-webkit-scrollbar-thumb {
  background-color: #202020a6;
  height: 300px;
  border-radius: 50px; }

*:focus, *:active {
  outline: none;
  box-shadow: none;
  /* any other relevant styles */ }

html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth; }
  @media only screen and (max-width: 47.9375em) {
    html {
      scroll-behavior: auto;
      overflow-x: hidden; } }

body {
  font-family: "Archivo", sans-serif;
  background-color: #202020;
  color: #FFFFFF; }

li {
  list-style: none; }

a:link,
a:visited {
  color: inherit;
  text-decoration: none; }

button {
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  background: unset; }

h1 {
  font-style: normal;
  font-weight: 400;
  font-size: 70px;
  line-height: 70px; }
  @media only screen and (max-width: 64.5em) {
    h1 {
      font-size: 40px;
      line-height: 40px; } }
  @media only screen and (max-width: 47.9375em) {
    h1 {
      font-size: 33px;
      line-height: 33px; } }

h2 {
  font-style: normal;
  font-weight: 400;
  font-size: 58px;
  line-height: 120%; }
  @media only screen and (max-width: 64.5em) {
    h2 {
      font-size: 42px; } }
  @media only screen and (max-width: 47.9375em) {
    h2 {
      font-size: 28px; } }

h3 {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 150%; }
  @media only screen and (max-width: 64.5em) {
    h3 {
      font-size: 21px; } }
  @media only screen and (max-width: 47.9375em) {
    h3 {
      font-size: 18px; } }

p {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; }
  @media only screen and (max-width: 64.5em) {
    p {
      font-size: 16px; } }
  @media only screen and (max-width: 47.9375em) {
    p {
      font-size: 16px; } }

header {
  width: 100%;
  max-width: 100%;
  margin-inline: auto; }

.content-container {
  height: 100%;
  min-height: 883px;
  width: 100%;
  position: relative;
  background-image: url(/assets/Desktop/header.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
  display: flex;
  align-items: flex-end; }
  .content-container .logo-header {
    position: absolute;
    left: 8rem;
    top: 0; }
    @media only screen and (max-width: 64.5em) {
      .content-container .logo-header {
        left: 4rem; } }
    @media only screen and (max-width: 51.25em) {
      .content-container .logo-header {
        display: none; } }
  @media only screen and (min-width: 90em) {
    .content-container {
      background-image: url(/assets/D1440+/header.jpg);
      background-size: 80%;
      background-position-y: 0%;
      min-height: 927px; } }
  @media only screen and (max-width: 64.5em) {
    .content-container {
      background-image: url(/assets/Tablet/header.png); } }
  @media only screen and (max-width: 47.9375em) {
    .content-container {
      background-position: top;
      background-attachment: fixed;
      background-size: cover;
      width: 100%;
      min-height: 760px;
      display: flex;
      align-items: flex-end; } }
  @media only screen and (max-width: 37.5em) {
    .content-container {
      background-size: contain; } }

.text-container {
  display: flex;
  position: relative;
  justify-content: flex-end;
  flex-direction: column;
  padding-left: 8rem;
  padding-right: 8rem;
  top: 0; }
  @media only screen and (max-width: 64.5em) {
    .text-container {
      padding-left: 4rem;
      padding-right: 4rem; } }
  @media only screen and (max-width: 47.9375em) {
    .text-container {
      padding-left: 3rem;
      padding-right: 3rem;
      min-height: 498px;
      width: 100%; } }
  .text-container .h1-container {
    margin-bottom: 3rem;
    max-width: 866px; }
    @media only screen and (max-width: 64.5em) {
      .text-container .h1-container {
        max-width: 400px; } }
    @media only screen and (max-width: 47.9375em) {
      .text-container .h1-container {
        max-width: 100%; } }
  .text-container .text-container-txt {
    font-family: "IBM Plex Sans", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 150%;
    max-width: 694px;
    margin-bottom: 3rem; }
    @media only screen and (max-width: 64.5em) {
      .text-container .text-container-txt {
        font-size: 22px;
        max-width: 430px; } }
    @media only screen and (max-width: 47.9375em) {
      .text-container .text-container-txt {
        max-width: 100%;
        font-size: 18px; } }
  .text-container img {
    width: 100%;
    max-width: 465px;
    height: auto;
    margin-bottom: 1rem; }
    @media only screen and (max-width: 47.9375em) {
      .text-container img {
        max-width: 280px; } }
  .text-container .name-ceo {
    font-family: "IBM Plex Sans", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px; }

main {
  padding-bottom: 15rem;
  padding-top: 15rem; }
  @media only screen and (max-width: 64.5em) {
    main {
      padding-bottom: 9rem;
      padding-top: 9rem; } }
  @media only screen and (max-width: 47.9375em) {
    main {
      padding-top: 5rem;
      padding-left: 0rem;
      padding-right: 0rem;
      padding-bottom: 0rem; } }
  main .content__container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 35% 65%;
    overflow: hidden; }
    @media only screen and (max-width: 47.9375em) {
      main .content__container {
        display: block; } }
    main .content__container .ctr {
      width: 100%;
      display: flex;
      justify-content: space-around; }
      @media only screen and (max-width: 47.9375em) {
        main .content__container .ctr {
          justify-content: unset; } }
  main .photo-1 {
    background: url(/assets/Desktop/1.png); }
  main .photo-2 {
    background: url(/assets/Desktop/2.png); }
  main .photo-3 {
    background: url(/assets/Desktop/3.png); }
  main .photo-4 {
    background: url(/assets/Desktop/4.png); }
  main .content__container-photoContainer {
    height: 100%;
    display: block;
    background-position: center;
    background-size: cover; }
    @media only screen and (max-width: 47.9375em) {
      main .content__container-photoContainer {
        height: 340px; } }
    @media only screen and (min-width: 90em) {
      main .content__container-photoContainer {
        max-width: 800px; } }
  main .content__container-textContainer {
    width: 100%;
    max-width: 500px;
    height: 100%;
    padding: 6rem; }
    @media only screen and (min-width: 90em) {
      main .content__container-textContainer {
        max-width: 800px; } }
    @media only screen and (max-width: 47.9375em) {
      main .content__container-textContainer {
        max-width: 370px;
        padding-top: 3rem;
        padding-left: 3rem;
        padding-right: 3rem;
        max-width: 100%;
        margin-left: 0; } }
    main .content__container-textContainer h2 {
      margin-bottom: 1rem; }
    main .content__container-textContainer h3 {
      margin-bottom: 4rem; }
      @media only screen and (max-width: 47.9375em) {
        main .content__container-textContainer h3 {
          margin-bottom: 2rem; } }
    main .content__container-textContainer p {
      margin-bottom: 4rem; }

footer {
  background-color: black;
  min-height: 311px;
  padding-left: 8rem;
  padding-right: 8rem;
  padding-top: 5.8rem; }
  @media only screen and (max-width: 64.5em) {
    footer {
      padding-left: 4rem;
      padding-right: 4rem; } }
  @media only screen and (max-width: 47.9375em) {
    footer {
      padding-top: 2rem;
      padding-left: 2rem;
      padding-right: 2rem; } }

.main-container {
  width: 100%;
  margin-bottom: 58.5px; }
  @media only screen and (max-width: 47.9375em) {
    .main-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-bottom: 50px; } }
  .main-container h3 {
    margin-bottom: 2rem; }
    @media only screen and (max-width: 64.5em) {
      .main-container h3 {
        font-size: 24px !important; } }
    @media only screen and (max-width: 47.9375em) {
      .main-container h3 {
        font-size: 24px !important; } }
  .main-container p:not(:last-child) {
    margin-bottom: .5rem; }
  @media only screen and (max-width: 64.5em) {
    .main-container p {
      font-size: 18px !important; } }
  @media only screen and (max-width: 47.9375em) {
    .main-container p {
      font-size: 18px !important; } }

.sec-container {
  width: 100%;
  display: flex;
  justify-content: space-between; }
  @media only screen and (max-width: 47.9375em) {
    .sec-container {
      flex-direction: column;
      justify-content: center;
      align-items: center; } }
  .sec-container div:nth-child(1) {
    display: flex;
    align-items: center;
    font-family: "IBM Plex Sans", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    color: #AAAAAA; }
    .sec-container div:nth-child(1) img {
      margin-right: 3rem; }
      @media only screen and (max-width: 47.9375em) {
        .sec-container div:nth-child(1) img {
          margin-right: 0rem;
          margin-bottom: 31.5px; } }
    .sec-container div:nth-child(1) p {
      font-size: 14px !important; }
      .sec-container div:nth-child(1) p:not(:last-child) {
        margin-right: 1rem; }
      @media only screen and (max-width: 47.9375em) {
        .sec-container div:nth-child(1) p {
          line-height: 18px !important; }
          .sec-container div:nth-child(1) p:last-child {
            margin-bottom: 3rem; }
          .sec-container div:nth-child(1) p:nth-child(1) {
            margin-bottom: 11.5px; }
          .sec-container div:nth-child(1) p:nth-child(2) {
            margin-bottom: 10px; }
          .sec-container div:nth-child(1) p:nth-child(4) {
            transform: rotate(90deg); } }
    @media only screen and (max-width: 64.5em) {
      .sec-container div:nth-child(1) {
        font-size: 14px !important; } }
    @media only screen and (max-width: 47.9375em) {
      .sec-container div:nth-child(1) {
        font-size: 14px !important;
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center; }
        .sec-container div:nth-child(1) p:not(:last-child) {
          margin-right: 0rem; } }

.btn {
  padding: 10px 60px 10px 20px;
  width: 153px;
  height: 47px;
  background: #333333;
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #FFFFFF;
  transition: all .1s ease-out; }
  .btn span {
    margin-left: 1rem; }
  .btn:hover {
    background: #555555; }

.btn-footer {
  width: 124px;
  height: 38px;
  background: #222222;
  text-transform: none;
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: #AAAAAA;
  transition: all .1s ease-out; }
  @media only screen and (max-width: 47.9375em) {
    .btn-footer {
      margin-bottom: 4rem; } }
  .btn-footer:hover {
    background: #333333; }

.nav {
  height: 8rem; }
  @media only screen and (max-width: 64.5em) {
    .nav {
      height: 8rem; } }
  @media only screen and (max-width: 51.25em) {
    .nav {
      height: 7rem;
      padding: 4rem; } }
  @media only screen and (max-width: 51.25em) and (max-width: 47.9375em) {
    .nav {
      padding: 2rem; } }
  @media only screen and (max-width: 51.25em) {
      .nav img {
        display: block !important; } }
