footer {
    background-color: black;
    min-height: 311px;
    padding-left: 8rem;
    padding-right: 8rem;
    padding-top:5.8rem;

    @include respond (tablet) {
        padding-left: 4rem;
        padding-right: 4rem;
    }
    @include respond (phone) {
        padding-top:2rem;
        padding-left: 2rem;
        padding-right: 2rem;
    }

}

.main-container {
    width: 100%;
    margin-bottom: 58.5px;
   
    @include respond (phone) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 50px;
    }


    .company {
        font-size: 24px !important;
        margin-bottom: 2rem;

        @include respond (tablet) {
            font-size: 24px !important;
        }
        @include respond (phone) {
            font-size: 24px !important;
        }
    }

    p {

        &:not(:last-child) {
            margin-bottom: .5rem;
        }

        @include respond (tablet) {
            font-size: 18px !important;
        }
        @include respond (phone) {
            font-size: 18px !important;
        }
    }
}

.sec-container {
    width: 100%;
    display: flex;
    justify-content: space-between;

    @include respond (phone) {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    div {

        &:nth-child(1) {

            display: flex;
            align-items: center;

            font-family: $font-text;
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 18px;
            text-align: center;
            color: #AAAAAA;

            img {
                margin-right: 3rem;
                @include respond (phone) {
                    margin-right: 0rem;
                    margin-bottom: 31.5px;
                }
            }

            p {
                font-size: 14px !important;

                &:not(:last-child) {
                    margin-right: 1rem;
                }

                @include respond (phone) {

                    line-height: 18px !important;

                   
                    &:last-child {
                        margin-bottom: 3rem;
                    }

                    &:nth-child(1) {
                    margin-bottom: 11.5px;
                   }
                   &:nth-child(2) {
                    margin-bottom: 10px;
                   }

                   &:nth-child(4) {
                    transform: rotate(90deg);
                   }
                }
            }
        
            @include respond (tablet) {
                font-size: 14px !important;
            }
            @include respond (phone) {
                font-size: 14px !important;
                width: 100%;

                flex-direction: column;
                justify-content: center;
                align-items: center;


                p {
                    &:not(:last-child) {
                        margin-right: 0rem;
                    }
                }

            }

        }
    }
}